services:
  mopidy:
    environment:
      - EXPOSE_PORT=${EXPOSE_PORT}
      - PUBLISH_PORT=${PUBLISH_PORT}
    build:
      context: .
      tags:
        - "local/mopidy:latest"
      args:
        - EXPOSE_PORT=${EXPOSE_PORT}
    container_name: mopidy
    devices:
      - "/dev/snd:/dev/snd"
    ports:
      - "${PUBLISH_PORT}:${EXPOSE_PORT}"
    post_start:
      - command: mopidy local scan
        user: root
    restart: "unless-stopped"
    volumes:
      # See https://docs.mopidy.com/latest/config/#core-configuration
      # Adjust keys to use different host machine folders.
      # This preset uses the default folders.
      # The mopidy config file mopidy.conf needs to be placed 
      # inside the host folder mounted to /config.
      - ~/.config/mopidy:/config
      - ~/.cache/mopidy:/cache
      - ~/.local/share/mopidy:/data
      # Persist iris data folder, adjust if necessary
      - ~/.local/share/iris:/iris
      # Add media folders using bind mounts.
      # The target locations need to be referenced in the mopidy.conf file.
      - type: bind
        source: /srv/media/music
        target: /music
        read_only: true
    healthcheck:
      # Note: --spider cannot be used as mopidy does not allow HEAD requests.
      test: ["CMD-SHELL", "wget -nv -t1 -O/dev/null http://localhost:${EXPOSE_PORT} || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
