services:
  mopidy:
    build:
      context: .
      tags:
        - "local/mopidy:latest"
    container_name: mopidy
    devices:
      - "/dev/snd"
    ports:
      - "8080:8080"
    post_start:
      - command: mopidy local scan
        user: root
    restart: "unless-stopped"
    volumes:
      - ~/.config/mopidy:/config
      - ~/.cache/mopidy:/cache
      - ~/.local/share/mopidy:/data
      - type: bind
        source: /srv/media/music
        target: /music
        read_only: true
